<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="applicationinsights" value="https://www.myget.org/F/applicationinsights/api/v3/index.json" />
    <add key="web signed" value="\\vscsstor\CIDrops\AIC\AI_WebSDK_Signed_Release\AI_WebSDK_Signed_Release_20180806.2\uncdrop" />
  </packageSources>
</configuration>
