<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="applicationinsights" value="https://www.myget.org/F/applicationinsights/api/v3/index.json" />
    <add key="web signed" value="\\vscsstor\CIDrops\AIC\AI_WebSDK_Signed_Release\AI_WebSDK_Signed_Release_20180803.1\uncdrop" />
  </packageSources>
  <disabledPackageSources>
    <add key="local" value="true" />
    <add key="https://www.nuget.org/api/v2/" value="true" />
    <add key="PortalSDK" value="true" />
    <add key="Package source" value="true" />
    <add key="123" value="true" />
    <add key="correlation" value="true" />
    <add key="aspnet myget" value="true" />
    <add key="ai v2 myget" value="true" />
    <add key="dotnet1" value="true" />
    <add key="CliFallbackFolder" value="true" />
    <add key="signed aspnetcore" value="true" />
    <add key="signed web" value="true" />
    <add key="delme" value="true" />
    <add key="ai" value="true" />
    <add key="local1" value="true" />
    <add key="aaaa" value="true" />
    <add key="dotnet" value="true" />
  </disabledPackageSources>
</configuration>
